<%= form_for(@user, :url => url_for(:action => :do_reset_password) , :html => { :method => :post }) do |f| %>

<div><%= f.label :old_password, "Old password" %><br />
  <%= f.password_field :old_password %></div>

  <div><%= f.label :password, "New password" %><br />
  <%= f.password_field :new_password %></div>

  <div><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :new_password_confirmation %></div>

  <div><%= f.submit "Change my password" %></div>
<% end %>


<div>
<% if @old_password%>

<%= @old_password %>
<%end%>



</div>