<h1>Edit Form</h1>
<%= form_with model: @user, local:true do |f|%>
<% if @user.errors.any? %>
<p>
    <%= @user.errors.full_messages.join(', ')%>
</p>
<% end %>

<div>
    <%= f.label :first_name  %> 
    <%= f.text_field :first_name  %> 
</div>
<div>
    <%= f.label :last_name  %> 
    <%= f.text_field :last_name  %> 
</div>
<div>
    <%= f.label :email  %> 
    <%= f.email_field :email  %> 
</div>

<%= f.submit "Update Profile"%>
<% end %>

<%= link_to "Change Password"  ,edit_user_passwords_path(@user, @password),data: {confirm: "Are you sure to change your password?"}%>