<div class="row">
    <div class="col-sm-12 text-nowrap" >
        <div class="card mt-4" style = "margin: 30px">
            <div class="card-body" >
                <h3>  <%= @project.title %></h3>
                <h5>  <%= @project.description %></h5>
                <h6>  <%= @project.due_date %></h3>
                <small>
                    Created by: <%= @project.user&.full_name || "DELETED" %>
                </small>
                <small>
                    <p>Created on : <%= time_ago_in_words(@project.created_at)  %> </p>
                </small>
                <small>         
                    <p>Updated on : <%= time_ago_in_words(@project.updated_at)  %> </p>
                </small>
                <small>
                    <%= link_to("Edit", edit_project_path(@project.id))%> | 
                    <%= link_to("Delete",project_path(@project),method: :delete,data:{confirm: "Are you sure you want to delete this project"})%>
                </small>
            </div>
        </div>


    <div class="row">
      <div class="col-8 col-sm-6">
       <h5> Uncompleted Tasks</h5>
<% @project.tasks.each do |task| %>
<%  if task.uncompleted? %>
<div class="card">
    <h5 class = "card-title"> <%= task.title  %></h5>
    <p class = "card-body">  <%= task.body   %></p>
    <p>  <%= task.due_date   %></p>
</div>

<div>
 <span>
    <%= form_with model: [@project, task], method: :patch, local: true do |f|  %>
    <%= f.submit "Mark as Done"%>
 </span>
 <span>
    <%= link_to "Delete",project_task_path(@project,task), method: :delete,data: {confirm: "Are you sure to delete this task?"} %>
 </span>
</div>

<%end%>
<%end%>
<% end %>

      </div>
      <div class="col-4 col-sm-6">
       <h5> Completed Tasks</h5>
<% @project.tasks.each do |task| %>
<%  if task.completed?%>

<div class="card">
    <h5 class = "card-title"><%= task.title  %></h5>
    <p class = "card-body">  <%= task.body   %></p>
    <p> <%= task.due_date   %></p>
</div>
<div>
    <span>
    <%= form_with model: [@project, task], method: :patch, local: true do |f|  %>
    <%= f.submit "Mark as Undone"%>
    </span>
    <span>
    <%= link_to "Delete",project_task_path(@project,task), method: :delete,data: {confirm: "Are you sure to delete this task?"} %>
    </span>
</div>

<%end%>
<%end%>
<%end%>
    </div>
    </div>
</div>
</div>

<hr>

<h3>
Add new task below
</h3>




<div class="form-group"> 
<%= form_with model: [@project, @task], local: true do |f|%>
<ul>
<% if @task.errors.full_messages.each do |msg|%>

    <li>
        <%= msg %>
       
    </li>
<% end %>
<% end %>
    <div> 
    <%=  f.label :title %>
    <%=  f.text_field :title, class: 'form-control' %>
    </div>
    <div>
     <%=  f.label :body %>
    <%=  f.text_area :body, class: 'form-control' %>
    </div>
     <div>
     <%=  f.label :due_date %>
    <%=  f.date_field :due_date, class: 'form-control' %>
    </div>
    <%=  f.submit  class: 'btn btn-primary'%>

</div>
<% end %>
<hr>

<h3>
Add new discussion by clicking new discussion
</h3>
<%= link_to "New Dicussion", new_project_discussion_path(@project, @discussion)%>
<hr>
<div class="row">
<h3>
All Discussion on the project
</h3>
</div>
<hr>



<div class="row">
    <% @project.discussions.each do |discussion| %>
        <div class="col-sm-12">
            <h3>  <%= discussion.title %></h3>
            <h3>  <%= discussion.description %></h3>
            <% if can? :crud, discussion %>
            <%= link_to("Edit", edit_project_discussion_path(@project,discussion))%> | 
            <% end %>
            <% if can? :crud, discussion %>
            <%= link_to "Delete",project_discussion_path(@project,discussion), method: :delete,data: {confirm: "Are you sure to delete this discussion?"} %>
            <% end %>
            <%= link_to "Comment", new_project_discussion_comment_path(@project, discussion, @comment)%>
            <small>
            Discussed by:
            <%= discussion.user&.full_name || "DELETED" %>
            </small>
    <div class="row">
    <% discussion.comments.each do |comment| %>
        <div class="col-9 col-sm-8">
            
                <p>  <%= comment.body %></p>
                <small>
                Commented by:
                <%= comment.user&.full_name || "DELETED" %>
                </small>
            <% if can? :crud, comment %>
            <%= link_to("Edit", edit_project_discussion_comment_path(@project,discussion,comment))%> | 
            <% end %>
            <% if can? :crud, comment %>
            <%= link_to "Delete",project_discussion_comment_path(@project,discussion,comment), method: :delete,data: {confirm: "Are you sure to delete this comment?"} %>
            <% end %>
    </div>
        <% end %>
    </div>
    <% end %>
  </div>
</div>