<h1> Edit Password</h1>
<%= @user.password_digest%>
<%= form_with model: @user, local:true do |f|%>
<% if @user.errors.any? %>
<p>
    <%= @user.errors.full_messages.join(', ')%>
</p>
<% end %>
<div>
    <%= f.label :old_password %>
    <%= f.password_field :old_password %>
</div>

<div>
    <%= f.label :new_password %>
    <%= f.password_field :new_password %>
</div>
<div>
    <%= f.label :new_password_confirmation %>
    <%= f.password_field :new_password_confirmation %>
</div>

<%= f.submit "Confirm" , method: "patch"%>
<% end %>